[submodule "influence-proof/lib/forge-std"]
	path = influence-proof/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "onramp-proof/lib/forge-std"]
	path = onramp-proof/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "zkproofs/onramp-proof/lib/forge-std"]
	path = zkproofs/onramp-proof/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "zkproofs/twitter/account-proof/lib/forge-std"]
	path = zkproofs/twitter/account-proof/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
